/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
h1,
h2,
h3,
a,
img,
aside,
footer,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

aside,
footer,
nav {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif, arial;
}

/* nav bar */

nav {
  font-size: 0.8em;
  position: absolute;
  background: rgb(116, 116, 116);
  background: linear-gradient(180deg, rgba(116, 116, 116, 1) 0%, rgba(94, 94, 94, 1) 50%, rgba(143, 143, 143, 1) 100%);
  width: 76.5em;
  height: 3em;
  border-radius: 0.3em;
  left: 50%;
  top: 5.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -38.25em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1em 2.85em;
  border-left: 1px solid #585858;
}

footer a {
  color: #08c;
  text-decoration: none;
}

nav a:first-child {
  padding-left: 3.5em;
  border: none;
}

nav input {
  width: 7em;
  height: 0.8em;
  border-radius: 0.4em;
  background-color: #848484;
}

nav a:visited {
  color: white;
}

/* main */

main {
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: 91em auto;
  background-position: center bottom;
  height: 33.5em;
}

h1 {
  color: white;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  padding: 2.6em 0 0.2em;
  letter-spacing: -0.1em;
}

h2 {
  color: white;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  width: 26em;
  line-height: 1.2em;
  margin: 0 auto;
  letter-spacing: -0.1em;
}

h3 {
  color: white;
  font-size: 1.3em;
  font-weight: 100;
  text-align: center;
  padding: 2em 0;
}

/* aside */
aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* footer */

footer {
  color: #6e6e6e;
  font-size: 0.6em;
  width: 100em;
  margin: 0 auto;
}

footer div {
  padding: 1.5em 1em;
  display: inline-block;
}

footer img {
  width: 1.6em;
}

footer a:visited {
  color: #08c;
}

footer div:nth-child(2) a {
  border-left: 1px solid #ccc;
  padding-left: 0.5em;
}

footer div:nth-child(2) a:first-child {
  border: none;
}
